button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: transparent;
}

.hit {
  background-color: red;
  border-radius: 15px;
}

.miss {
  background-color: rgb(39, 73, 223);
  border-radius: 15px;
}
