button {
  border-radius: 10px;
  width: 80%;
  margin-left: 25%;
  width: 50%;
}

.text {
  margin-left: 25%;
}

i {
  color: black;
  height: 10px;
  width: 10px;
}

.fa-solid {
  color: black;
  height: 10px;
  width: 10px;
}
