<head>
  <script
    src="https://kit.fontawesome.com/ffa0aa41c9.js"
    crossorigin="anonymous"
  ></script>
</head>
<div class="container">
  <h3 class="text">vite {{ this.vite }}</h3>
  <div>
    <i class="fa-solid fa-heart"></i>
    <!--non riesco a inserire le icone-->
  </div>

  <h1 *ngIf="this.vite === 0" class="text">GAMEOVER</h1>
  <h1 *ngIf="this.vittoria === true" class="text">VITTORIA</h1>
  <button type="button" class="btn btn-warning" (click)="onRestart()">
    restart
  </button>
</div>
