<html>
  <head>
    <script
      src="https://kit.fontawesome.com/ffa0aa41c9.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="tabella">
      <table>
        <tr *ngFor="let y of arrayRighe">
          <td *ngFor="let x of arrayColonne">
            <tile-component
              [x]="x"
              [y]="y"
              (coordinate)="onTentativo($event)"
              [occupata]="occupaCasella(x, y)"
            ></tile-component>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <i class="fa-solid fa-heart"></i>
    </div>

    <div class="center">
      <app-vite></app-vite>
    </div>
    <div class="center" style="border: transparent">
      <app-disposizione [xy]="bersaglio"></app-disposizione>
    </div>
  </body>
</html>
